*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.boxes{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  top: 50%;
  
}
.box{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background-color: red;
}

.box:hover{
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.3s ease;

}